<div class="jumbotron jumbotron-fluid"bg-gradient-danger >
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light ">
        
            <a class="navbar-brand" href="#" ><h2 >API-Covid-19   <i class="fas fa-viruses"></i></h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
        <a class="nav-link" href="/">Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/nobel">Todos los Paises</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/continentes">Continentes</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="/pais">Continentes</a>
        </li>

        <form class="form-inline " action="/nobel/:id?" >
            <input calss="form-control h-1" type="text" placeholder="Buscar Pais" name="search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
            
        </form>
        
    </ul>
    
    </div>
</nav>     

  </div>
</div>
    
        
   




    